.vscode/settings.json
derya.txt
main
main.o
.gitignore
entreeSortieLC.h.gch
entreeSortieLC.o
biblioC.o
biblioC.h.gch
exo1/.nfs0000000002b665dd000000b2
exo1/.nfs0000000002b66590000000ad
biblioH.o
entreeSortieH.o
mainlc
mainH
autre
